[user]
	email = btwdesu@gmail.com
	name = kenjitheman
[github]
    user = kenjitheman
[gitlab]
    user = kenjitheman
[credential]
	helper = cache
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/
[init]
	defaultBranch = main
[core]
	editor = nvim
