[user]
	email = btw4dev@gmail.com
	name = btwkenji
[github]
    user = btwkenji
[gitlab]
    user = btwkenji
[credential]
	helper = cache
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/
