@keyframes blink-warning {
    70% {
        color: #000000;
    }

    to {
        color: #cdd6f4;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
        color: #000000;
    }

    to {
        color: #cdd6f4;
        background-color: red;
    }
}

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #cdd6f4;
    font-family: CaskaydiaCove Nerd Font;
    font-size: 16px;
}

#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#disk,
#language,
#custom-power {
    padding-left: 6px;
    padding-right: 6px;
    min-height: 0;
    padding: 3px 10px;
    border-radius: 7px;
    margin: 1px 4px;
    background-color: #000000; /* #181825 */
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#custom-power {
    font-weight: bold;
}

#custom-power:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #1e1e2e;
    background-color: #cdd6f4;
}

#disk.warning {
    color: orange;
}

#disk.critical {
    color: red;
}

#network.disconnected {
    color: orange;
}

#temperature.critical {
    color: red;
}

#window {
    font-weight: bold;
}

#workspaces button {
    all: initial;
    min-width: 0;
    padding: 3px 10px;
    min-height: 0;
    margin: 1px 4px;
    border-radius: 7px;
    background-color: #000000;
    color: #cdd6f4;
    font-size: 16px;
    font-family: CaskaydiaCove Nerd Font;
    font-weight: bold;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #1e1e2e;
    background-color: #cdd6f4;
}

#workspaces button.active {
    color: #1e1e2e;
    background-color: #89b4fa;
}

#tags button.occupied {
	transition: none;
	color: #F28FAD;
	background: transparent;
	font-size: 4px;
}

#tags button.focused {
	color: #ABE9B3;
    border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
    border-color: #E8A2AF;
    color: #E8A2AF;
}

#tags button.focused:hover {
    color: #E8A2AF;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

tooltip {
    border-radius: 8px;
}
