@keyframes blink-warning {
    70% {
        color: #000000;
    }

    to {
        color: #000000;
        background-color: #c0a36e;
    }
}

@keyframes blink-critical {
    70% {
        color: #000000;
    }

    to {
        color: #000000;
        background-color: #c34043;
    }
}

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    background-color: #000000;
    color: #c5c9c5;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid #3c3836
}

#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#disk,
#language,
#bluetooth,
#backlight {
    min-height: 0;
    border-radius: 0px;
    margin: 1px 4px;
    padding-left: 8px;
    border-left: 1px solid #3c3836;
    background-color: #000000;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: #c0a36e;
}

#battery.critical {
    color: #c34043;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

#clock {
    font-weight: bold;
}

#cpu.warning {
    color: #727169;
}

#cpu.critical {
    color: #c34043;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: #727169;
}

#memory.critical {
    color: #c34043;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#custom-power {
    font-weight: bold;
}

#custom-power:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #000000;
    background-color: #dcd7ba;
}

#disk.warning {
    color: #727169;
}

#disk.critical {
    color: #c34043;
}

#network.disconnected {
    color: #727169;
}

#temperature.critical {
    color: #c34043;
}

#window {
    font-weight: bold;
}

#workspaces button {
    all: initial;
    min-width: 0;
    padding: 0px 6px;
    min-height: 0;
    margin: 1;
    border-radius: 4px;
    background-color: #000000;
    color: #c5c9c5;
    font-size: 12px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #000000;
    background-color: #c5c9c5;
}

/* IF SWAY -> button.focused */
#workspaces button.active {
    color: #000000;
    background-color: #c5c9c5;
}

#tags button.occupied {
    transition: none;
    color: #c34043;
    background: transparent;
    font-size: 4px;
}

#tags button.focused {
    color: #76946a;
    border-top: 2px solid #76946a;
    border-bottom: 2px solid #76946a;
}

#tags button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #727169;
    border-color: #957fb8;
    color: #957fb8;
}

#tags button.focused:hover {
    color: #957fb8;
}

#workspaces button.urgent {
    background-color: #c34043;
}

tooltip {
    border-radius: 0px;
}
